# Environments
target/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
target/model-axe-341710-d5c6cbd89b49.json
peak-sunset-351809-ed40f7fab817.json
scanautomatisierung-17028416b9ec.json
__pycache__
tests
.idea
model-axe-341710-8ef8f8cafde2.json
.env
target
google_ocr.json